// Footer.scss

.footer {
  padding: 20px 0;
  background-color: #1e3a8a;
  color: #fff;
}

.container {
  max-width: 70%;
}

.footer-content {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-menu {
  flex: 1 0 100%;
  max-width: calc(25% - 40px); /* %65 genişlikte sıkıştırma ve aralarında sağ boşluk */
  margin-bottom: 20px;
}

.footer-menu:last-child {
  margin-right: 0;
}


.footer-submenu {
  list-style: none;
  padding: 0;
}

.footer-submenu li {
  margin-bottom: 4px;
}

.footer-submenu li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-submenu li a:hover {
  color: #fff;
}

.footer-contact {
  font-size: 0.875rem;
  color: #ccc;
  margin-top: 8px;
}

.footer-social-links {
  display: flex;
  margin-top: 15px;
  gap: 15px; /* Öğeler arasındaki boşluk */
}


.footer-social-link {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer-social-link:hover {
  color: #ccc;
}

.footer-copyright {
  padding: 10px 0;
  margin-top: auto;
}
