.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
  }

// .header {
//   position: fixed;
//   width: 100%;
//   z-index: 10;
//   transition: background-color 0.3s, color 0.3s;
//   padding-top: 64px; /* Adjust as needed based on your header height */
// }
  
.header-transparent {
  background-color: transparent;
  color: black;
}
  
.header-blue {
  background-color: #1e3a8a;
  color: white;
}
  
.header a {
  transition: color 0.3s;
}
  
.header-transparent a {
  color: black;
}
  
.header-blue a {
  color: white;
}
  

